/* .App {
  text-align: center;
  display: flex;
}

.ProductTable{
  text-align: center;
  background-color: brown;
  display: flex;
  margin: auto;
  left: 50%;
  top: 50%;
}
.SearchBar{
  text-align: center;
} */